<html>
  <head>
    <title>Real Time Products</title>
  </head>
  <body>
    <h1>Lista de Productos en Tiempo Real</h1>
    <ul id="realTimeList">
      {{#each products}}
        <li>
          {{this}}
          <!-- Agregar botón para eliminar producto -->
          <button onclick="eliminarProducto('{{this}}')">Eliminar</button>
        </li>
      {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();

      socket.on('updateProducts', (products) => {      
        const list = document.getElementById('realTimeList');
        list.innerHTML = products.map(product => {
          return `<li>
                    ${product}
                    <button onclick="eliminarProducto('${product}')">Eliminar</button>
                  </li>`;
        }).join('');
      });

      function eliminarProducto(productId) {
        socket.emit('deleteProduct', productId);
      }
    </script>
  </body>
</html>